main {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color:beige;
}


#caja1{
    display:flex;
    width: 250px;
    height: 150px;
    border-radius:5px;
    background-color:green;
    
}
#caja2{
    display:flex;
    width: 250px;
    height: 150px;
    border-radius:5px;
    background-color: yellow;
}
#entrada{
    margin: auto auto;
}

main article label{
    margin:10px;
}

